* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

header {
    display: flex;
    flex-direction: column;
    height: 30vh;
    justify-content: center;
    align-items: center;

}

header h2 {
    padding: 3rem;
}

#logo {

    text-decoration: none;
    color: black;
}

.search-form {
    display: flex;
}

.search-form input {
    font-size: 2rem;
    padding: 0.5rem;
    width: 100%;
    border: none;
    border: 2px solid purple;
}

.search-form button {
    border: none;
    padding: 0.5rem 2rem;
    font-size: 1rem;
    background-image: none;
    background-color: purple;
    color: white;
}

.gallery .gallery-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0;
}

.gallery-info a, .gallery-info p {
    color: gray;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    padding: 2rem 0rem;
    gap: 20px;
    width: 80%;
    margin: auto;
    row-gap: 5rem;
    column-gap: 3rem;
}


.gallery-image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.nav-button {
    min-height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.more {
    padding: 1rem 3rem;
    background: purple;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    color: white;
}